body { 
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
}
.deal-btn {
  font-size: 3rem;
  padding: 5px 25px; 
  border-radius: 5px;    
}

#label1, #label2, #label3{ 
  font-size: 3rem;
}